# Data Science Tools and Ecosystem

In this notebook data science tools and ecosystem are summarized.

Some of the popular Languages that Data Scientist use are:

1. SQL
2. Python
3. R
4. Matlab

Some of the comonly used libraries used by data scientists include:
1. Matplotlib
2. Scikit-learn
3. Spark
4. ggplot2

Data Science tools
—————————————————|
RStudio|
PyCharm|
PyTorch|
Conda|
Azure Machine Learning Studio|

| DataScience Tools | 
| -----------------------------| 
| RStudio | 
| PyCharm| 
| Conda|
|Azure Machine Learniing Studio|

### Below are a few examples of evaluating arithmatic expressions in Python

In [18]:
#This is a simple arithmatic expression to multiply then add integers

In [20]:
(3*4) + 5

17

In [22]:
#This will convert 200 minute to hours by dividing by 60

In [24]:
(200/60)

3.3333333333333335

**Objectives**
- Name some of the data science environments
- Perform arithmatical operations
- To create a table
- To list some Data Science Languages

## Author
Michael Rosenfield